html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	color: black;
	font-size: 14px;
}

button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select
{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

select{
	-webkit-appearance: none;
   	-moz-appearance:    none;
   	appearance:         none;
   	height: 28px;
   	line-height: 28px;
   	width: 135px;
   	text-indent: 10px;
   	border-radius: 0px;
   	font-size: 14px;
   	color: dimgray;
	border: 1px solid lightgray;
   	background: url(../images/select-down.png) white no-repeat right 8px top 10px;
}

input[type='submit']
{
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;  
   border: none;
   border-radius: 0px;
}

input[type="text"],input[type="password"],input[type="number"],
input[type="email"],input[type="time"]{
 	font-size: 16px;
 	text-indent: 10px;
 	border-radius: 0px;
 	border: 1px solid lightgray;
 	outline: none;
 	white-space:normal;
 	-webkit-appearance: none;
 	height: 28px;
 	line-height: 28px;
 	transition:0.5s all ease;
}

textarea{
	font-size: 18px;
	padding: 10px;
	border-radius: 0px;
 	border: 1px solid lightgray;
 	outline: none;
 	-webkit-appearance: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    background-color: #fefcfe;
}

pre {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
	color: black;
	transition:0.5s all ease;
}

a:hover{
	color: black;
	text-decoration: none;
}	

.clear{
	clear: both;
}

.clearfix {
    zoom: 1;
    &:before,&:after{
        content: " ";
        display: table;
    }
    &:after{
        clear: both;
    }
}

.no-pd,.no-pd .row{
	padding-left: 0px !important;
	padding-right: 0px !important;
	margin-right: 0px !important;
	margin-left: 0px !important;
}

.container.no-pd{
	margin: auto;
}

html,body{
	height: 100%;
}

div.ui-datepicker{
 	font-size:12px;
	font-family: Arial, sans-serif !important;
}

.ui-widget-header{
	background: #f0763d;
	color: white;
	height: 30px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	background: white;
	color: #f0763d;
}

.ui-widget-header .ui-icon{
	background: url(../images/ui-icon.png);
}

.ui-icon-circle-triangle-w{
	background-position: -80px -192px !important;
}

.ui-icon-circle-triangle-e {
    background-position: -48px -192px !important;
}

.ui-state-hover,.ui-state-active{
	background: #f8c014 !important;
	color: white !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
	background: white;
	color: #cf503f;
	border: 1px solid #04254d;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year{
	height: 20px;
	line-height: 20px;
	color: dimgray;
	background: url(../images/select-down.png) white no-repeat right 7px top 6px;
	font-family: Arial, sans-serif !important;
}

.owl-carousel {
  position: relative;
  height: 100%;
  margin: 0px 0;
  padding: 10px 0;
  background-color: white;
}

.owl-carousel .owl-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.owl-theme .owl-controls .owl-page span{
	margin: 5 20px;
	background-color: white;
}

.owl-carousel  .owl-item .item img{
	width: 100%;
	display: block;
}

.owl-theme .owl-controls .owl-page{
	margin:10px 5px !important;
}